body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.init {
    widht: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.init p {
    margin: 10px 3px 9px;
}

canvas {
    border: 1px solid black;
    border-radius: 2%;
}

.mainBlock {
    margin: 30px 10% 20px 10%;
}

input {
    border-radius: 5px;
}

.input {
    padding: 1px 3px 8px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 25%;
}

#start {
    margin-top: 30px;
    padding: 25px 20px 25px;
    background-color: crimson;
    border-color: brown;
    ;
}